@{
    ViewData["Title"] = "Home Page";
}

<h1>Ласкаво просимо до зоопарку!</h1>
<p>Виберіть тип тварин, щоб дізнатися більше:</p>

<div>
    <h3>Домашні тварини:</h3>
    <ul>
        <li>
            <a href="/Pets/Dog">
                <button>Собака</button>
            </a>
        </li>
        <li>
            <a href="/Pets/Cat">
                <button>Кішка</button>
            </a>
        </li>
        <li>
            <a href="/Pets/Parrot">
                <button>Папуга</button>
            </a>
        </li>
    </ul>

    <h3>Дикі тварини:</h3>
    <ul>
        <li>
            <a href="/WildAnimals/Lion">
                <button>Лев</button>
            </a>
        </li>
        <li>
            <a href="/WildAnimals/Wolf">
                <button>Вовк</button>
            </a>
        </li>
        <li>
            <a href="/WildAnimals/Eagle">
                <button>Орел</button>
            </a>
        </li>
    </ul>
</div>
